{% extends "base.html" %}

{% block content %}

<div class="container mt-4">

    <h3 class="fw-bold mb-4">🔔 All Notifications</h3>

    <div class="card shadow-sm">
        <div class="card-body">

            {% for notification in notifications %}
                <div class="mb-3 p-2 border-bottom">
                    {{ notification.message }}
                    <br>
                    <small class="text-muted">
                        {{ notification.created_at }}
                    </small>
                </div>
            {% empty %}
                <p class="text-muted">No notifications yet</p>
            {% endfor %}

        </div>
    </div>

</div>

{% endblock %}